In [ ]:
! pip install xmltodict
import requests, xmltodict, json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0

In [ ]:
url = 'http://apis.data.go.kr/1400000/forestStusService/getfirestatsservice?searchStDt=20110101&searchEdDt=20111231&ServiceKey=KRywiil%2F5%2BbBBrUF40TtfdDC%2BZaSULjvGL7SaSDxAKfV%2F%2BSedTZfzk1GpkG71vmRaGcJqa5o1KZ%2FWEo1WdoDIQ%3D%3D&numOfRows=554'

res = requests.get(url)

dict_res = xmltodict.parse(res.content)
json_string = json.dumps(dict_res['response']['body']['items'], ensure_ascii=False)

jsonObj = json.loads(json_string)
df_2011 = pd.DataFrame(jsonObj['item'])

In [ ]:
url = 'http://apis.data.go.kr/1400000/forestStusService/getfirestatsservice?searchStDt=20120101&searchEdDt=20121231&ServiceKey=KRywiil%2F5%2BbBBrUF40TtfdDC%2BZaSULjvGL7SaSDxAKfV%2F%2BSedTZfzk1GpkG71vmRaGcJqa5o1KZ%2FWEo1WdoDIQ%3D%3D&numOfRows=394'

res = requests.get(url)

dict_res = xmltodict.parse(res.content)
json_string = json.dumps(dict_res['response']['body']['items'], ensure_ascii=False)

jsonObj = json.loads(json_string)
df_2012 = pd.DataFrame(jsonObj['item'])

In [ ]:
url = 'http://apis.data.go.kr/1400000/forestStusService/getfirestatsservice?searchStDt=20130101&searchEdDt=20131231&ServiceKey=KRywiil%2F5%2BbBBrUF40TtfdDC%2BZaSULjvGL7SaSDxAKfV%2F%2BSedTZfzk1GpkG71vmRaGcJqa5o1KZ%2FWEo1WdoDIQ%3D%3D&numOfRows=592'

res = requests.get(url)

dict_res = xmltodict.parse(res.content)
json_string = json.dumps(dict_res['response']['body']['items'], ensure_ascii=False)

jsonObj = json.loads(json_string)
df_2013 = pd.DataFrame(jsonObj['item'])

In [ ]:
url = 'http://apis.data.go.kr/1400000/forestStusService/getfirestatsservice?searchStDt=20140101&searchEdDt=20141231&ServiceKey=KRywiil%2F5%2BbBBrUF40TtfdDC%2BZaSULjvGL7SaSDxAKfV%2F%2BSedTZfzk1GpkG71vmRaGcJqa5o1KZ%2FWEo1WdoDIQ%3D%3D&numOfRows=984'

res = requests.get(url)

dict_res = xmltodict.parse(res.content)
json_string = json.dumps(dict_res['response']['body']['items'], ensure_ascii=False)

jsonObj = json.loads(json_string)
df_2014 = pd.DataFrame(jsonObj['item'])

In [ ]:
url = 'http://apis.data.go.kr/1400000/forestStusService/getfirestatsservice?searchStDt=20150101&searchEdDt=20151231&ServiceKey=KRywiil%2F5%2BbBBrUF40TtfdDC%2BZaSULjvGL7SaSDxAKfV%2F%2BSedTZfzk1GpkG71vmRaGcJqa5o1KZ%2FWEo1WdoDIQ%3D%3D&numOfRows=1246'

res = requests.get(url)

dict_res = xmltodict.parse(res.content)
json_string = json.dumps(dict_res['response']['body']['items'], ensure_ascii=False)

jsonObj = json.loads(json_string)
df_2015 = pd.DataFrame(jsonObj['item'])

In [ ]:
url = 'http://apis.data.go.kr/1400000/forestStusService/getfirestatsservice?searchStDt=20160101&searchEdDt=20161231&ServiceKey=KRywiil%2F5%2BbBBrUF40TtfdDC%2BZaSULjvGL7SaSDxAKfV%2F%2BSedTZfzk1GpkG71vmRaGcJqa5o1KZ%2FWEo1WdoDIQ%3D%3D&numOfRows=782'

res = requests.get(url)

dict_res = xmltodict.parse(res.content)
json_string = json.dumps(dict_res['response']['body']['items'], ensure_ascii=False)

jsonObj = json.loads(json_string)
df_2016 = pd.DataFrame(jsonObj['item'])

In [ ]:
url = 'http://apis.data.go.kr/1400000/forestStusService/getfirestatsservice?searchStDt=20170101&searchEdDt=20171231&ServiceKey=KRywiil%2F5%2BbBBrUF40TtfdDC%2BZaSULjvGL7SaSDxAKfV%2F%2BSedTZfzk1GpkG71vmRaGcJqa5o1KZ%2FWEo1WdoDIQ%3D%3D&numOfRows=1384'

res = requests.get(url)

dict_res = xmltodict.parse(res.content)
json_string = json.dumps(dict_res['response']['body']['items'], ensure_ascii=False)

jsonObj = json.loads(json_string)
df_2017 = pd.DataFrame(jsonObj['item'])

In [ ]:
url = 'http://apis.data.go.kr/1400000/forestStusService/getfirestatsservice?searchStDt=20180101&searchEdDt=20181231&ServiceKey=KRywiil%2F5%2BbBBrUF40TtfdDC%2BZaSULjvGL7SaSDxAKfV%2F%2BSedTZfzk1GpkG71vmRaGcJqa5o1KZ%2FWEo1WdoDIQ%3D%3D&numOfRows=992'

res = requests.get(url)

dict_res = xmltodict.parse(res.content)
json_string = json.dumps(dict_res['response']['body']['items'], ensure_ascii=False)

jsonObj = json.loads(json_string)
df_2018 = pd.DataFrame(jsonObj['item'])

In [ ]:
url = 'http://apis.data.go.kr/1400000/forestStusService/getfirestatsservice?searchStDt=20190101&searchEdDt=20191231&ServiceKey=KRywiil%2F5%2BbBBrUF40TtfdDC%2BZaSULjvGL7SaSDxAKfV%2F%2BSedTZfzk1GpkG71vmRaGcJqa5o1KZ%2FWEo1WdoDIQ%3D%3D&numOfRows=1306'

res = requests.get(url)

dict_res = xmltodict.parse(res.content)
json_string = json.dumps(dict_res['response']['body']['items'], ensure_ascii=False)

jsonObj = json.loads(json_string)
df_2019 = pd.DataFrame(jsonObj['item'])

In [ ]:
url = 'http://apis.data.go.kr/1400000/forestStusService/getfirestatsservice?searchStDt=20200101&searchEdDt=20201231&ServiceKey=KRywiil%2F5%2BbBBrUF40TtfdDC%2BZaSULjvGL7SaSDxAKfV%2F%2BSedTZfzk1GpkG71vmRaGcJqa5o1KZ%2FWEo1WdoDIQ%3D%3D&numOfRows=1240'

res = requests.get(url)

dict_res = xmltodict.parse(res.content)
json_string = json.dumps(dict_res['response']['body']['items'], ensure_ascii=False)

jsonObj = json.loads(json_string)
df_2020 = pd.DataFrame(jsonObj['item'])

In [ ]:
url = 'http://apis.data.go.kr/1400000/forestStusService/getfirestatsservice?searchStDt=20210101&searchEdDt=20211231&ServiceKey=KRywiil%2F5%2BbBBrUF40TtfdDC%2BZaSULjvGL7SaSDxAKfV%2F%2BSedTZfzk1GpkG71vmRaGcJqa5o1KZ%2FWEo1WdoDIQ%3D%3D&numOfRows=698'

res = requests.get(url)

dict_res = xmltodict.parse(res.content)
json_string = json.dumps(dict_res['response']['body']['items'], ensure_ascii=False)

jsonObj = json.loads(json_string)
df_2021 = pd.DataFrame(jsonObj['item'])

In [ ]:
new_df = pd.concat([df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021], ignore_index = True)

In [ ]:
new_df

,damagearea,endday,endmonth,endtime,endyear,firecause,locbunji,locdong,locgungu,locmenu,locsi,startday,startdayofweek,startmonth,starttime,startyear
0,0.1,28,12,08:30:00,2011,입산자실화,산202-2,장전평,홍천,홍천,강원,28,수요일,12,03:20:00,2011
1,0.5,24,12,16:30:00,2011,쓰레기소각,산14-1,무계,청송,현서,경북,24,토요일,12,14:30:00,2011
2,0.01,22,12,18:20:00,2011,입산자실화,산52,원,산청,시천,경남,22,목요일,12,17:15:00,2011
3,0.2,09,12,15:00:00,2011,기타,산27,용수,기장,정관,부산,09,금요일,12,14:11:00,2011
4,0.3,29,11,22:30:00,2011,담뱃불실화,산4-1,거포,옥천,청성,충북,29,화요일,11,20:10:00,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10167,0.4,01,04,18:50:00,2021,쓰레기소각,산102,쌍지,안성,고삼,경기,01,목요일,04,16:01:00,2021
10168,0.01,01,04,13:30:00,2021,입산자실화,산251,양잠,태안,남,충남,01,목요일,04,12:14:00,2021
10169,0.1,01,04,15:30:00,2021,담뱃불실화,산33-3,어천,공주,우성,충남,01,목요일,04,12:10:00,2021
10170,10.7,01,04,12:54:00,2021,기타,산146외1필지,운치,정선,신동,강원,31,수요일,03,15:38:00,2021
10171,0.01,01,04,15:30:00,2021,기타,663-9,화전,고양,덕양,경기,01,목요일,04,15:03:00,2021

In [ ]:
new_df.columns = ['피해면적합계','진화종료 일','진화종료 월','진화종료 일시','진화종료 연도','발생원인','발생장소_지번','발생장소_동리','발생장소_시군구','발생장소_읍면','발생장소_시도','발생일','발생요일','발생월','발생시간','발생연도']

In [ ]:
new_df

,피해면적합계,진화종료 일,진화종료 월,진화종료 일시,진화종료 연도,발생원인,발생장소_지번,발생장소_동리,발생장소_시군구,발생장소_읍면,발생장소_시도,발생일,발생요일,발생월,발생시간,발생연도
0,0.1,28,12,08:30:00,2011,입산자실화,산202-2,장전평,홍천,홍천,강원,28,수요일,12,03:20:00,2011
1,0.5,24,12,16:30:00,2011,쓰레기소각,산14-1,무계,청송,현서,경북,24,토요일,12,14:30:00,2011
2,0.01,22,12,18:20:00,2011,입산자실화,산52,원,산청,시천,경남,22,목요일,12,17:15:00,2011
3,0.2,09,12,15:00:00,2011,기타,산27,용수,기장,정관,부산,09,금요일,12,14:11:00,2011
4,0.3,29,11,22:30:00,2011,담뱃불실화,산4-1,거포,옥천,청성,충북,29,화요일,11,20:10:00,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10167,0.4,01,04,18:50:00,2021,쓰레기소각,산102,쌍지,안성,고삼,경기,01,목요일,04,16:01:00,2021
10168,0.01,01,04,13:30:00,2021,입산자실화,산251,양잠,태안,남,충남,01,목요일,04,12:14:00,2021
10169,0.1,01,04,15:30:00,2021,담뱃불실화,산33-3,어천,공주,우성,충남,01,목요일,04,12:10:00,2021
10170,10.7,01,04,12:54:00,2021,기타,산146외1필지,운치,정선,신동,강원,31,수요일,03,15:38:00,2021
10171,0.01,01,04,15:30:00,2021,기타,663-9,화전,고양,덕양,경기,01,목요일,04,15:03:00,2021

In [ ]:
new_df.to_csv('피해면적.csv',encoding='euc-kr')